In [2]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [3]:
lst = ['Kế toán','Kinh doanh','Tiếp thị']
df = pd.DataFrame(lst)
df

            0
0     Kế toán
1  Kinh doanh
2    Tiếp thị

In [4]:
tuples = [('Kế toán',2000),('Kinh doanh',2100),('Tiếp thị',1900)]
df = pd.DataFrame(tuples)
df

            0     1
0     Kế toán  2000
1  Kinh doanh  2100
2    Tiếp thị  1900

In [5]:
dic = {'Nghề':['Kế toán','Kinh doanh','Tiếp thị'],
      'Lương':[2000,2100,1900]}
df = pd.DataFrame(dic)
df

         Nghề  Lương
0     Kế toán   2000
1  Kinh doanh   2100
2    Tiếp thị   1900

In [8]:
arr = np.array([51,65,48,59,68])
seri2 = pd.Series(arr)
seri2

0    51
1    65
2    48
3    59
4    68
dtype: int32

In [52]:
data = pd.read_csv('FoodPrice_in_Turkey.csv',
                  header = 0, encoding = 'ISO-8859-1')
print('*'*20,'Nhập dữ liệu thành công','*'*20)
display(data)
data.info()

******************** Nhập dữ liệu thành công ********************

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7381 entries, 0 to 7380
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Place        7381 non-null   object
 1   ProductId    7381 non-null   int64
 2   ProductName  7381 non-null   object
 3   UmId         7381 non-null   int64
 4   UmName       7381 non-null   object
 5   Month        7381 non-null   int64
 6   Year         7381 non-null   int64
 7   Price        7381 non-null   float64
dtypes: float64(1), int64(4), object(3)
memory usage: 461.4+ KB

In [8]:
data.columns

Index(['Place', 'ProductId', 'ProductName', 'UmId', 'UmName', 'Month', 'Year',
       'Price'],
      dtype='object')

In [53]:
# Việt hóa tên các cột
# Đổi tên chỉ 1 cột xác định
# data.rename(columns = {'Place':'Địa điểm'}, inplace=True)

# Đổi tên chỉ 1 vài cột xác định
# data.rename(columns = {'ProductId':'Mã sản phẩm', 'ProductName':'Tên sản phẩm'}, inplace=True)
# data.rename(columns = {'UmId':'Số lượng', 'UmName':'Tên đơn vị'}, inplace=False) #Bảng data không thay đổi

# Đổi tên toàn bộ các cột (Yêu cầu liệt kê đầy đủ tên cột mới và theo đúng thứ tự)
data.columns = ['Địa điểm', 'Mã SP', 'Tên SP', 'Đơn vị', 'Tên đơn vị', 'Tháng', 'Năm', 'Giá'] #Phải đủ số lượng tên các cột

data

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Giá
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [54]:
data['Tên cột mới'] = np.NaN
display(data)

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Giá,Tên cột mới
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,NaN
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,NaN
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,NaN
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337,NaN
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099,NaN
...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040,NaN
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176,NaN
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347,NaN
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071,NaN

In [55]:
data.insert(8, 'Chiết khấu (%)', 20)
display(data)
# data.info()

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Giá,Chiết khấu (%),Tên cột mới
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,20,NaN
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,20,NaN
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,20,NaN
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337,20,NaN
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099,20,NaN
...,...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040,20,NaN
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176,20,NaN
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347,20,NaN
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985,20,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071,20,NaN

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7381 entries, 0 to 7380
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Địa điểm        7381 non-null   object
 1   Mã SP           7381 non-null   int64
 2   Tên SP          7381 non-null   object
 3   Đơn vị          7381 non-null   int64
 4   Tên đơn vị      7381 non-null   object
 5   Tháng           7381 non-null   int64
 6   Năm             7381 non-null   int64
 7   Giá             7381 non-null   float64
 8   Chiết khấu (%)  7381 non-null   int64
 9   Tên cột mới     0 non-null      float64
dtypes: float64(2), int64(5), object(3)
memory usage: 576.8+ KB

In [15]:
data.pop('Chiết khấu (%)')

0       20
1       20
2       20
3       20
4       20
        ..
7376    20
7377    20
7378    20
7379    20
7380    20
Name: Chiết khấu (%), Length: 7381, dtype: int64

In [16]:
data

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Giá,Tên cột mới
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,NaN
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,NaN
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,NaN
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337,NaN
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099,NaN
...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040,NaN
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176,NaN
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347,NaN
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071,NaN

In [18]:
print(data)

              Địa điểm  Mã SP                   Tên SP  Đơn vị Tên đơn vị  \
0     National Average     52            Rice - Retail       5         KG
1     National Average     52            Rice - Retail       5         KG
2     National Average     52            Rice - Retail       5         KG
3     National Average     52            Rice - Retail       5         KG
4     National Average     52            Rice - Retail       5         KG
...                ...    ...                      ...     ...        ...
7376             Izmir    502  Cocoa (powder) - Retail       5         KG
7377             Izmir    502  Cocoa (powder) - Retail       5         KG
7378             Izmir    502  Cocoa (powder) - Retail       5         KG
7379             Izmir    502  Cocoa (powder) - Retail       5         KG
7380             Izmir    502  Cocoa (powder) - Retail       5         KG

      Tháng   Năm      Giá  Chiết khấu (%)  Tên cột mới
0         5  2013   4.4920              20          NaN
1         6  2013   4.5786              20          NaN
2        11  2013   4.7865              20          NaN
3        12  2013   5.1337              20          NaN
4         1  2014   5.5099              20          NaN
...     ...   ...      ...             ...          ...
7376      8  2019  47.9040              20          NaN
7377      9  2019  49.1176              20          NaN
7378     10  2019  50.8347              20          NaN
7379     11  2019  51.7985              20          NaN
7380     12  2019  51.6071              20          NaN

[7381 rows x 10 columns]

In [19]:
display(data)

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Giá,Chiết khấu (%),Tên cột mới
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,20,NaN
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,20,NaN
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,20,NaN
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337,20,NaN
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099,20,NaN
...,...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040,20,NaN
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176,20,NaN
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347,20,NaN
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985,20,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071,20,NaN

In [56]:
data.insert(7, 'Số lượng', 50)
data

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,Chiết khấu (%),Tên cột mới
0,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,20,NaN
1,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,20,NaN
2,National Average,52,Rice - Retail,5,KG,11,2013,50,4.7865,20,NaN
3,National Average,52,Rice - Retail,5,KG,12,2013,50,5.1337,20,NaN
4,National Average,52,Rice - Retail,5,KG,1,2014,50,5.5099,20,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,50,47.9040,20,NaN
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20,NaN
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20,NaN
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20,NaN

In [57]:
data.rename(columns = {'Tên cột mới': 'Tổng'}, inplace = True)
data['Tổng'] = data['Giá'] * data['Số lượng'] * (100 - data['Chiết khấu (%)'])/100
data

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,Chiết khấu (%),Tổng
0,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,20,179.680
1,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,20,183.144
2,National Average,52,Rice - Retail,5,KG,11,2013,50,4.7865,20,191.460
3,National Average,52,Rice - Retail,5,KG,12,2013,50,5.1337,20,205.348
4,National Average,52,Rice - Retail,5,KG,1,2014,50,5.5099,20,220.396
...,...,...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,50,47.9040,20,1916.160
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20,1964.704
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20,2033.388
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20,2071.940
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20,2064.284

In [26]:
data.loc[data.shape[0]] = ['Sài Gòn', 3000, 'Dưa hấu', 5, 'KG', 10, 2022, 50, 50.000, 10, np.NaN]
display(data)

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,Chiết khấu (%),Tổng
0,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,20,179.680
1,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,20,183.144
2,National Average,52,Rice - Retail,5,KG,11,2013,50,4.7865,20,191.460
3,National Average,52,Rice - Retail,5,KG,12,2013,50,5.1337,20,205.348
4,National Average,52,Rice - Retail,5,KG,1,2014,50,5.5099,20,220.396
...,...,...,...,...,...,...,...,...,...,...,...
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20,1964.704
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20,2033.388
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20,2071.940
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20,2064.284
7381,Sài Gòn,3000,Dưa hấu,5,KG,10,2022,50,50.0000,10,NaN

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7382 entries, 0 to 7381
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Địa điểm        7382 non-null   object
 1   Mã SP           7382 non-null   int64
 2   Tên SP          7382 non-null   object
 3   Đơn vị          7382 non-null   int64
 4   Tên đơn vị      7382 non-null   object
 5   Tháng           7382 non-null   int64
 6   Năm             7382 non-null   int64
 7   Số lượng        7382 non-null   int64
 8   Giá             7382 non-null   float64
 9   Chiết khấu (%)  7382 non-null   int64
 10  Tổng            7381 non-null   float64
dtypes: float64(2), int64(6), object(3)
memory usage: 692.1+ KB

In [58]:
# Thêm 1 dòng mới vào đầu bảng
data.loc[-1] = ['Hà Nội', 3001, 'Cốm làng Vòng', 5, 'KG', 10, 2022, 20, 50.000, 30, np.NaN]
data

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,Chiết khấu (%),Tổng
0,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,20,179.680
1,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,20,183.144
2,National Average,52,Rice - Retail,5,KG,11,2013,50,4.7865,20,191.460
3,National Average,52,Rice - Retail,5,KG,12,2013,50,5.1337,20,205.348
4,National Average,52,Rice - Retail,5,KG,1,2014,50,5.5099,20,220.396
...,...,...,...,...,...,...,...,...,...,...,...
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20,1964.704
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20,2033.388
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20,2071.940
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20,2064.284
-1,Hà Nội,3001,Cốm làng Vòng,5,KG,10,2022,20,50.0000,30,NaN

In [59]:
# Update index của bảng
data.index = data.index + 1
# Sắp xếp lại bảng
data = data.sort_index()
display(data)
# data.info()

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,Chiết khấu (%),Tổng
0,Hà Nội,3001,Cốm làng Vòng,5,KG,10,2022,20,50.0000,30,NaN
1,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,20,179.680
2,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,20,183.144
3,National Average,52,Rice - Retail,5,KG,11,2013,50,4.7865,20,191.460
4,National Average,52,Rice - Retail,5,KG,12,2013,50,5.1337,20,205.348
...,...,...,...,...,...,...,...,...,...,...,...
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,50,47.9040,20,1916.160
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20,1964.704
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20,2033.388
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20,2071.940
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20,2064.284

In [ ]:
Thêm 1 dòng mới vào sau dòng Hà Nội. Với các giá trị lần lượt là 
'Đà Nẵng',3002,'Mỳ Quảng',5,'Tô',10,2022,20, 100.000,10,np.NaN

In [32]:
data.index(0) = -1
data

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (3893093269.py, line 1)

In [34]:
data.loc[0.5] = ['Đà Nẵng', 3002, 'Mỳ quảng', 5, 'Tô', 10, 2022, 20, 100.000, 10, np.NaN]
data = data.sort_index()
data

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,Chiết khấu (%),Tổng
-0.5,Đà Nẵng,3002,Mỳ quảng,5,Tô,10,2022,20,100.0000,10,NaN
0.0,Hà Nội,3001,Cốm làng Vòng,5,KG,10,2022,20,50.0000,30,NaN
0.5,Đà Nẵng,3002,Mỳ quảng,5,Tô,10,2022,20,100.0000,10,NaN
1.0,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,20,179.680
2.0,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,20,183.144
...,...,...,...,...,...,...,...,...,...,...,...
7378.0,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20,1964.704
7379.0,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20,2033.388
7380.0,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20,2071.940
7381.0,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20,2064.284
7382.0,Sài Gòn,3000,Dưa hấu,5,KG,10,2022,50,50.0000,10,NaN

In [39]:
data.

AttributeError: 'DataFrame' object has no attribute 'del_index'

# Xoá cột sử dụng del

##

In [41]:
# Xoá cột sử dụng del
data2 = data
display(data2)
# Xoá cột 'Cột mới' (xoá ngay trên bảng gốc) -> Nguy hiểm, hạn chế dùng
del data2['Tổng']
print('Data2 sau khi xoá')
display(data2)
print('Data sau khi xoá')
display(data)

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,Chiết khấu (%),Tổng
-0.5,Đà Nẵng,3002,Mỳ quảng,5,Tô,10,2022,20,100.0000,10,NaN
0.0,Hà Nội,3001,Cốm làng Vòng,5,KG,10,2022,20,50.0000,30,NaN
0.5,Đà Nẵng,3002,Mỳ quảng,5,Tô,10,2022,20,100.0000,10,NaN
1.0,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,20,179.680
2.0,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,20,183.144
...,...,...,...,...,...,...,...,...,...,...,...
7378.0,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20,1964.704
7379.0,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20,2033.388
7380.0,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20,2071.940
7381.0,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20,2064.284
7382.0,Sài Gòn,3000,Dưa hấu,5,KG,10,2022,50,50.0000,10,NaN

Data2 sau khi xoá

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,Chiết khấu (%)
-0.5,Đà Nẵng,3002,Mỳ quảng,5,Tô,10,2022,20,100.0000,10
0.0,Hà Nội,3001,Cốm làng Vòng,5,KG,10,2022,20,50.0000,30
0.5,Đà Nẵng,3002,Mỳ quảng,5,Tô,10,2022,20,100.0000,10
1.0,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,20
2.0,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,20
...,...,...,...,...,...,...,...,...,...,...
7378.0,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20
7379.0,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20
7380.0,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20
7381.0,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20
7382.0,Sài Gòn,3000,Dưa hấu,5,KG,10,2022,50,50.0000,10

Data sau khi xoá

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,Chiết khấu (%)
-0.5,Đà Nẵng,3002,Mỳ quảng,5,Tô,10,2022,20,100.0000,10
0.0,Hà Nội,3001,Cốm làng Vòng,5,KG,10,2022,20,50.0000,30
0.5,Đà Nẵng,3002,Mỳ quảng,5,Tô,10,2022,20,100.0000,10
1.0,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,20
2.0,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,20
...,...,...,...,...,...,...,...,...,...,...
7378.0,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20
7379.0,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20
7380.0,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20
7381.0,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20
7382.0,Sài Gòn,3000,Dưa hấu,5,KG,10,2022,50,50.0000,10

In [43]:
# Xoá cột sử dụng pop()
data3 = data
print('Data3 sau khi tạo')
display(data3)
# Xoá cột

Data3 sau khi tạo

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,Chiết khấu (%)
-0.5,Đà Nẵng,3002,Mỳ quảng,5,Tô,10,2022,20,100.0000,10
0.0,Hà Nội,3001,Cốm làng Vòng,5,KG,10,2022,20,50.0000,30
0.5,Đà Nẵng,3002,Mỳ quảng,5,Tô,10,2022,20,100.0000,10
1.0,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,20
2.0,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,20
...,...,...,...,...,...,...,...,...,...,...
7378.0,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20
7379.0,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20
7380.0,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20
7381.0,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20
7382.0,Sài Gòn,3000,Dưa hấu,5,KG,10,2022,50,50.0000,10

In [50]:
print("data")
display(data)
print("data2")
display(data2)
print("data3")
display(data3)
print("data4")
display(data4)
print("data4")
display(data5)

data

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

data2

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,Chiết khấu (%)
-0.5,Đà Nẵng,3002,Mỳ quảng,5,Tô,10,2022,20,100.0000,10
0.0,Hà Nội,3001,Cốm làng Vòng,5,KG,10,2022,20,50.0000,30
0.5,Đà Nẵng,3002,Mỳ quảng,5,Tô,10,2022,20,100.0000,10
1.0,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,20
2.0,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,20
...,...,...,...,...,...,...,...,...,...,...
7378.0,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20
7379.0,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20
7380.0,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20
7381.0,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20
7382.0,Sài Gòn,3000,Dưa hấu,5,KG,10,2022,50,50.0000,10

data3

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,Chiết khấu (%)
-0.5,Đà Nẵng,3002,Mỳ quảng,5,Tô,10,2022,20,100.0000,10
0.0,Hà Nội,3001,Cốm làng Vòng,5,KG,10,2022,20,50.0000,30
0.5,Đà Nẵng,3002,Mỳ quảng,5,Tô,10,2022,20,100.0000,10
1.0,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,20
2.0,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,20
...,...,...,...,...,...,...,...,...,...,...
7378.0,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20
7379.0,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20
7380.0,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20
7381.0,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20
7382.0,Sài Gòn,3000,Dưa hấu,5,KG,10,2022,50,50.0000,10

data4

NameError: name 'data4' is not defined

In [60]:
data7 = data.drop(0, axis = 0)
display(data7)
data7.info()

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,Chiết khấu (%),Tổng
1,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,20,179.680
2,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,20,183.144
3,National Average,52,Rice - Retail,5,KG,11,2013,50,4.7865,20,191.460
4,National Average,52,Rice - Retail,5,KG,12,2013,50,5.1337,20,205.348
5,National Average,52,Rice - Retail,5,KG,1,2014,50,5.5099,20,220.396
...,...,...,...,...,...,...,...,...,...,...,...
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,50,47.9040,20,1916.160
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20,1964.704
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20,2033.388
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20,2071.940
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20,2064.284

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7381 entries, 1 to 7381
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Địa điểm        7381 non-null   object
 1   Mã SP           7381 non-null   int64
 2   Tên SP          7381 non-null   object
 3   Đơn vị          7381 non-null   int64
 4   Tên đơn vị      7381 non-null   object
 5   Tháng           7381 non-null   int64
 6   Năm             7381 non-null   int64
 7   Số lượng        7381 non-null   int64
 8   Giá             7381 non-null   float64
 9   Chiết khấu (%)  7381 non-null   int64
 10  Tổng            7381 non-null   float64
dtypes: float64(2), int64(6), object(3)
memory usage: 692.0+ KB