In [1]:
hostname = 'mysql.anbelly.com'
username = 'hocvien'
userpassword = '12345678'
dbname = 'casestudy'

In [2]:
engine = sql.create_engine(
    sql.engine.url.URL.create(
        drivername="mysql",
        username=username,
        password=userpassword,
        host=hostname,
        port=3306,
        database=dbname,
    ),
    echo_pool=True,
)
print("connecting with engine " + str(engine))

connection = engine.connect()

print('Connected')

NameError: name 'sql' is not defined