In [2]:
import pandas as pd

In [3]:
pd.__version__

'1.4.2'

In [4]:
drinks = pd.read_csv('http://bit.ly/drinksbycountry')

In [5]:
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [6]:
drinks

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,South America
189,Vietnam,111,2,1,2.0,Asia
190,Yemen,6,0,0,0.1,Asia
191,Zambia,32,19,4,2.5,Africa
192,Zimbabwe,64,18,4,4.7,Africa

In [7]:
drinks.loc[189, :]

country                         Vietnam
beer_servings                       111
spirit_servings                       2
wine_servings                         1
total_litres_of_pure_alcohol        2.0
continent                          Asia
Name: 189, dtype: object

In [8]:
drinks.loc[:, 'country'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua & Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia-Herzegovina', 'Botswana', 'Brazil', 'Brunei',
       'Bulgaria', 'Burkina Faso', 'Burundi', "Cote d'Ivoire",
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo', 'Cook Islands', 'Costa Rica', 'Croatia',
       'Cuba', 'Cyprus', 'Czech Republic', 'North Korea', 'DR Congo',
       'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador',
       'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia',
       'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala',
       'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq',
       'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos',
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Micronesia', 'Monaco', 'Mongolia', 'Montenegro',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Niue', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Qatar', 'South Korea', 'Moldova', 'Romania',
       'Russian Federation', 'Rwanda', 'St. Kitts & Nevis', 'St. Lucia',
       'St. Vincent & the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome & Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka',
       'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria',
       'Tajikistan', 'Thailand', 'Macedonia', 'Timor-Leste', 'Togo',
       'Tonga', 'Trinidad & Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'Tanzania', 'USA', 'Uruguay', 'Uzbekistan',
       'Vanuatu', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [30]:
drinks[drinks.country == 'Vietnam']

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
189,Vietnam,111,2,1,2.0,Asia

In [31]:
drinks[drinks.country == 'Vietnam'].beer_servings

189    111
Name: beer_servings, dtype: int64

In [28]:
drinks.loc[drinks.country == 'Vietnam', :]

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
189,Vietnam,111,2,1,2.0,Asia

In [27]:
drinks.loc[drinks.country == 'Vietnam', 'beer_servings']

189    111
Name: beer_servings, dtype: int64

In [ ]:
beer_servings_sorted = drinks.sort_values('beer_servings')

In [ ]:
beer_servings_sorted_by_country = beer_servings_sorted['country'].unique()

In [ ]:
beer_servings_sorted_by_country

In [ ]:
drinks.beer_servings.mean()

In [ ]:
drinks.groupby('continent').beer_servings.mean().sort_values()

In [ ]:
drinks.groupby('continent').beer_servings.sum().sort_values()

In [ ]:
drinks[drinks.continent == 'Africa']

In [ ]:
Asia = drinks[drinks.continent == 'Asia']

In [ ]:
Asia.country.unique()