# Xét bộ dữ liệu FoodPrice inTurkey.csv

### Đọc bộ dữ liệu:

In [1]:
import pandas as pd
df = pd.read_csv(r"C:\Users\MY PC\Documents\GitHub\CG-DA-Python\Datasets\FoodPrice_in_Turkey.csv")

In [2]:
df.head()

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099

In [11]:
df

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

### Xét biến định tính Place:

In [3]:
df_place = df.loc[:, 'Place']

In [4]:
df_place

0       National Average
1       National Average
2       National Average
3       National Average
4       National Average
              ...
7376               Izmir
7377               Izmir
7378               Izmir
7379               Izmir
7380               Izmir
Name: Place, Length: 7381, dtype: object

In [12]:
df_place.head()

0    National Average
1    National Average
2    National Average
3    National Average
4    National Average
Name: Place, dtype: object

In [10]:
df_place.unique()

array(['National Average', 'Ankara', 'Istanbul', 'Izmir'], dtype=object)

## count – Đếm tần suất xuất hiện của biến định tính

In [5]:
df_place.count()

7381

## min – Trả về giá trị có độ dài nhỏ nhất của biến tính

In [6]:
df_place.min()

'Ankara'

## max – Trả về giá trị có độ dài lớn nhất của biến tính

In [7]:
df_place.max()

'National Average'

## mode – Tính giá trị xuất hiện nhiều nhất của biến định tính

In [8]:
df_place.mode()

0    National Average
Name: Place, dtype: object