In [2]:
import pandas as pd

In [3]:
drinks = pd.read_csv('http://bit.ly/drinksbycountry')

In [5]:
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [6]:
drinks

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,South America
189,Vietnam,111,2,1,2.0,Asia
190,Yemen,6,0,0,0.1,Asia
191,Zambia,32,19,4,2.5,Africa
192,Zimbabwe,64,18,4,4.7,Africa

In [17]:
drinks.loc[189]

country                         Vietnam
beer_servings                       111
spirit_servings                       2
wine_servings                         1
total_litres_of_pure_alcohol        2.0
continent                          Asia
Name: 189, dtype: object

In [21]:
beer_servings_sorted = drinks.sort_values('beer_servings')

In [30]:
beer_servings_sorted_by_country = beer_servings_sorted['country'].unique()

In [31]:
beer_servings_sorted_by_country

array(['Afghanistan', 'Cook Islands', 'Iran', 'Kuwait', 'Libya',
       'Maldives', 'Marshall Islands', 'Monaco', 'Pakistan', 'San Marino',
       'Bangladesh', 'Saudi Arabia', 'Mauritania', 'Somalia',
       'North Korea', 'Qatar', 'Comoros', 'Timor-Leste', 'Haiti',
       'Tajikistan', 'Niger', 'Nepal', 'Myanmar', 'Syria', 'Mali',
       'Indonesia', 'Egypt', 'Yemen', 'Jordan', 'Tuvalu', 'Sudan',
       'Gambia', 'Malawi', 'Guinea', 'India', 'Senegal', 'Iraq',
       'Morocco', 'Malaysia', 'Djibouti', 'Chad', 'United Arab Emirates',
       'Sri Lanka', 'Central African Republic', 'Eritrea', 'Turkmenistan',
       'Liberia', 'Ethiopia', 'Lebanon', 'Vanuatu', 'Armenia',
       'Azerbaijan', 'Kiribati', 'Oman', 'Bhutan', 'Uzbekistan',
       'Algeria', 'Sierra Leone', 'Burkina Faso', 'Madagascar',
       'Guinea-Bissau', 'Montenegro', 'Kyrgyzstan', 'Ghana', 'Brunei',
       'Zambia', 'DR Congo', 'Benin', 'Togo', 'Tonga', 'Tanzania',
       "Cote d'Ivoire", 'Nigeria', 'Bahrain', 'Rwanda',
       'Papua New Guinea', 'Uganda', 'Mozambique', 'Nauru', 'Tunisia',
       'Turkey', 'El Salvador', 'Georgia', 'Dominica', 'Guatemala',
       'Sao Tome & Principe', 'Solomon Islands', 'Cambodia', 'Kenya',
       'Singapore', 'Micronesia', 'Laos', 'Israel', 'Zimbabwe',
       'Honduras', 'Philippines', 'Bosnia-Herzegovina', 'Congo',
       'Mongolia', 'Japan', 'Fiji', 'Nicaragua', 'China', 'Jamaica',
       'Lesotho', 'Italy', 'Burundi', 'Albania', 'Swaziland',
       'Equatorial Guinea', 'Cuba', 'Guyana', 'Mauritius', 'Thailand',
       'Antigua & Barbuda', 'Samoa', 'Macedonia', 'Moldova', 'Vietnam',
       'Uruguay', 'St. Vincent & the Grenadines', 'Bahamas', 'Kazakhstan',
       'France', 'Suriname', 'Chile', 'Greece', 'South Korea', 'Belarus',
       'Barbados', 'Cabo Verde', 'Cameroon', 'Malta', 'Costa Rica',
       'Sweden', 'Seychelles', 'Colombia', 'Ecuador', 'Peru', 'Bolivia',
       'Norway', 'St. Lucia', 'Botswana', 'Switzerland', 'Niue', 'Cyprus',
       'Dominican Republic', 'Argentina', 'Portugal', 'St. Kitts & Nevis',
       'Slovakia', 'Trinidad & Tobago', 'Grenada', 'New Zealand',
       'Ukraine', 'Paraguay', 'Angola', 'United Kingdom', 'Estonia',
       'Denmark', 'South Africa', 'Croatia', 'Bulgaria', 'Iceland',
       'Hungary', 'Luxembourg', 'Mexico', 'Canada', 'Andorra', 'Brazil',
       'Russian Federation', 'USA', 'Netherlands', 'Australia', 'Finland',
       'Belize', 'Slovenia', 'Austria', 'Latvia', 'Serbia', 'Spain',
       'Panama', 'Belgium', 'Romania', 'Palau', 'Ireland', 'Venezuela',
       'Lithuania', 'Poland', 'Germany', 'Gabon', 'Czech Republic',
       'Namibia'], dtype=object)

In [32]:
drinks.beer_servings.mean()

106.16062176165804

In [44]:
drinks.groupby('continent').beer_servings.mean().sort_values()

continent
Asia              37.045455
Africa            61.471698
Oceania           89.687500
North America    145.434783
South America    175.083333
Europe           193.777778
Name: beer_servings, dtype: float64

In [46]:
drinks.groupby('continent').beer_servings.sum().sort_values()

continent
Oceania          1435
Asia             1630
South America    2101
Africa           3258
North America    3345
Europe           8720
Name: beer_servings, dtype: int64